.Board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    --mainColor: rgb(201, 201, 201);
    --backgroundColor: rgb(255, 255, 255);
    width: 452px;
    height: 452px;
    border-radius: 15px;
    border: 2.5px solid rgb(201, 201, 201);
    overflow: hidden;
}
.Board__block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    transition: all 0.2s;
}
.Board__block:hover{
    background-color: rgb(245, 245, 245); 
}
.Board__row{
    display: flex;
    flex-direction: row;
}
.Board__cell{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 900;
    /* transition: all 0.2s; */
    border: 1px rgb(240, 240, 240) solid;

    box-sizing: border-box;
}

.Board__tempCell{
    font-weight:250;
}
.Board__possibility{
    font-size: 12px;
    margin: 2px;
}

.Board__bl{
    border-left: 1px var(--mainColor) solid;
}
.Board__br{
    border-right: 1px var(--mainColor) solid;
}
.Board__bt{
    border-top: 1px var(--mainColor) solid;
}
.Board__bb{
    border-bottom: 1px var(--mainColor) solid;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: rotateX(-90deg);
        /* background-color: white; */
        background: none;
    }

    50%{
        transform: rotateX(0deg);
        background-color: rgb(238, 245, 255);
    }
    100%{
        opacity: 1;
        /* background-color: white; */
        background: none;
    }
}