.Gameover{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 452px;
    height: 452px;
    /* background-color: rgba(97, 97, 97, 0.082); */
    z-index: 10;
}
.Gameover__card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 90px;
    background-color: rgb(236, 88, 88);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 25px;
    animation: gameover 0.5s forwards;
}
@keyframes gameover {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    60%{
        transform: translateY(5px);
      
    }
    90%{
        transform: translateY(-2px);
     
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}